/* Style global */
@import url("https://fonts.googleapis.com/css2?family=Hind:wght@600&display=swap");
body {
  font-family: "Hind", sans-serif;
}
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  color: rgba(66, 61, 61, 0.795);
}
/* Fin Style global */

/* Choix version */

.choix_container {
  width: 100%;
  height: fit-content;
  height: -moz-max-content;
  position: sticky;
  top: 100px;
  text-align: center;
  overflow: hidden;
  height:75vh;
  display:flex;
  flex-direction:column;
  justify-content:center;
  align-items:center;
}
.choix_version {
  height:50vh;
  display:flex;
  justify-content:center;
  align-items:center;
  width:34%;
}
.choix_version_colored {
  border-right: 1px dotted gray;
  height:50%;
  width:50%;
  display:flex;
  flex-direction:column;
  justify-content:center;
  align-items:center;
}

/* inscription_page */
.cr_container {
  height: 75vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.cr_container p {
  text-align: center;
  color:green;
}
.inscription_container {
  padding-top: 50px;
  padding-bottom: 50px;
  height: 86vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.inscription_div {
  width:75%;
  height:55px;
  display:flex;
  flex-direction:column;
  justify-content:center;
  align-items:center;
}
.inscription_formulaire{
  border-radius: 5px;
  margin: 5px auto 23px auto;
  padding: 15px 5px;
  width: 25%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  row-gap: 15px;
}
.inscription_formulaire div label {
  font-family: Arial, Helvetica, sans-serif;
  background-color: rgba(105, 105, 105, 0.2);
  font-size: 0.8rem;
  font-weight: 700;
  text-align: center;
  display: inline-block;
  width: 30%;
  border: 1px dotted rgba(105, 105, 105, 0.2);
  border-radius: 5px;
  padding: 5px 5px;
}
.inscription_formulaire div input, .inscription_formulaire div select {
  width: 68%;
  border: 1px dotted rgba(105, 105, 105, 0.8);
  border-radius: 5px;
  padding: 5px 5px;
}

/* Header */
header {
  position: -webkit-sticky;
  position: sticky;
  z-index: 50;
  top: 0;
  display: flex;
  align-items: center;
  height: 75px;
  background-color: #000;
  margin-bottom: 25px;
  color: #fff;
  overflow: hidden;
}
header h1 {
  padding-left: 75px;
  width: 25%;
  color: white;
}
  /* Menu en attente animé */
  .loader {
    display: flex;
    justify-content: flex-end;
    width: 75%;
    padding-right: 75px;
  }
  .bar {
    width: 2px;
    height: 12px;
    margin: 0 3px;
    border-radius: 10px;
    animation: loading_5192 1s ease-in-out infinite;
    background-color: #fff;
  }
  .bar:nth-child(1) {
    animation-delay: 0.01s;
  }
  .bar:nth-child(2) {
    animation-delay: 0.09s;
  }
  .bar:nth-child(3) {
    animation-delay: 0.19s;
  }
  .bar:nth-child(4) {
    animation-delay: 0.29s;
  }
  @keyframes loading_5192 {
    0% {
      transform: scale(1);
    }
    20% {
      transform: scale(1, 2);
    }
    40% {
      transform: scale(1);
    }
  }
  /* Fin Menu en attente animé */

.initial {
  width: 0;
  overflow: hidden;
}

#menu_deroulant {
  position: fixed;
  top: 75px;
  left: 0;
  width: 100%;
  max-height: 0;
  overflow: hidden;
  text-align:left;
  transition: 0.3s ease-in-out;
}


/* Fin Header *************************/

/* Barre Vide */
.barreVide_connexion {
  height: 25px;
  width: 100%;
  background-color: #fff;
  position: fixed;
  top: 75px;
  z-index: 10;
}
.barreVide {
  height: 25px;
  width: 100%;
  background-color: #fff;
  position: fixed;
  top: 75px;
  z-index: 10;
}
/* Fin Barre Vide */


/* Le corps de la page */
.topBibliothequeMenu {
  width: 100%;
  max-height: 0;
  margin-bottom: 10px;
  display: flex;
  flex-wrap: nowrap;
  overflow-x: scroll;
}
.topBibliothequeMenu h3 {
  min-width: 31%;
  background-color: rgb(173, 170, 170);
  text-align: center;
  margin-left: 5px;
}
.container {
  width: 75%;
  padding: 0 5px;
}
.bibliotheque {
  width: 75%;
  height: 500px;
  padding: 15px 5px;
  border: 1px dotted rgba(105, 105, 105, 0.7);
  border-radius: 10px;
}
.container h2 {
  height: 55px;
  text-align: center;
  line-height: 55px;
  background-color: rgba(105, 105, 105, 0.2);
  color: rgb(0, 0, 0, 0.6);
  border-radius: 3px;
  font-family: lato;
}
.dateDuJour {
  height: 55px;
  line-height: 55px;
  text-align: center;
  font-weight: 2rem;
  color: rgb(136, 135, 135, 0.5);
  border: 1px dotted rgba(105, 105, 105, 0.2);
  margin-top: 5px;
}
/* All News */
  /* Entête News1 et News2 */
  .entete {
    width: 100%;
    display: flex;
    justify-content: space-between;
  }
  .enteteDiv {
    width: 49%;
    padding: 10px 0;
    text-align: center;
  }
  .enteteDiv p {
    border: 1px dotted rgba(105, 105, 105, 0.2);
  }
  .enteteDiv p img {
    width: 100%;
  }
  .enteteDiv h4 {
    height: 50px;
    overflow: hidden;
    padding: 5px;
    text-align: left;
    color: #f60;
    border: 1px dotted rgba(150, 150, 150, 0.2);
  }
  /* Fin Entête News1 et News2 */
  /* Ligne Autres News */
  .autresNews {
    width: 100%;
    display: flex;
    justify-content: space-between;
  }
  .autresNews div {
    width: 49%;
    padding: 10px 0;
    text-align: center;
  }
  .autresNews > div > p {
    height: 35px;
    line-height: 35px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    text-align: left;
    font-size: 0.7rem;
    font-weight: bolder;
    color: #000;
    padding: 0 10px;
    background-color: rgba(105, 105, 105, 0.2);
  }
  .autresNews div .petit_synopsis {
    width: 100%;
    height: 110px;
    padding: 5px 10px;
    overflow: hidden;
    font-size: 0.8rem;
    text-align: left;
    margin-bottom: 5px;
    margin-top: 5px;
    border: 1px dotted rgba(105, 105, 105, 0.2);
  }
  .autresNews div .petit_synopsis p {
    font-size: 0.7rem;
  }
  .autresNews div .petit_coordonnees {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
  }
  .autresNews div .petit_coordonnees p {
    width: 33.33%;
    height: 30px;
    line-height: 30px;
    font-size: 0.8rem;
    border: 1px dotted rgba(105, 105, 105, 0.2);
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  .autresNews div .petit_coordonnees p a {
    text-decoration: underline;
    color: #f60;
    font-weight: bolder;
    font-size: 0.8rem;
  }
  /* Fin Ligne Autres News */
/* Fin All News */


.bouttonRetour {
  height: 35px;
  line-height: 35px;
  width: 75px;
  margin: auto;
  text-align: center;
  font-weight: 2rem;
  background-color: rgba(255, 102, 0, 0.9);
  border-radius: 5px;
  margin-top: 15px;
}
.bouttonRetour:hover {
  background-color: rgba(223, 103, 23, 0.8);
}
.bouttonRetour a {
  text-decoration: none;
  color: #fff;
}
.article {
  margin-top: 15px;
  padding: 15px;
  border: 1px dotted rgba(105, 105, 105, 0.2);
}
.article h1 {
  color: #f60;
  border: 1px dotted rgba(105, 105, 105, 0.2);
}





.synopsis {
  height: 90px;
  padding: 5px;
  overflow: hidden;
  font-size: 0.8rem;
  text-align: left;
  margin-bottom: 15px;
  margin-top: 5px;
  border: 1px dotted rgba(105, 105, 105, 0.2);
}
.synopsis_news {
  padding: 5px;
  overflow: hidden;
  font-size: 0.8rem;
  text-align: left;
  margin-bottom: 5px;
  margin-top: 5px;
  border: 1px dotted rgba(105, 105, 105, 0.2);
}


.source {
  height: 30px;
  overflow: hidden;
  font-size: 0.8rem;
  padding: 5px 0;
  border: 1px dotted rgba(105, 105, 105, 0.2);
}
.source_news {
  height: 30px;
  overflow: hidden;
  font-size: 0.8rem;
  padding: 5px 0;
  margin-bottom: 15px;
  text-align: center;
  border: 1px dotted rgba(105, 105, 105, 0.2);
}
article {
  margin-bottom: 25px;
}
article img {
  float: right;
  margin-left: 25px;
}
.article p {
  font-size: 0.8rem;
}
.article em {
  color: #f60;
}
.lien {
  height: 30px;
  margin: 10px 0;
  overflow: hidden;
  border: 1px dotted rgba(105, 105, 105, 0.2);
}
.lien a {
  text-decoration: underline;
  color: #f60;
  font-weight: bolder;
  font-size: 0.8rem;
}
.entete img {
  max-width: 100%;
}
.barreVide2 {
  height: 3px;
  width: 100%;
  background-color: rgba(105, 105, 105, 0.2);
}
.connexion_layer {
  width: 100%;
  height: fit-content;
  height: -moz-max-content;
  position: sticky;
  top: 100px;
  text-align: center;
  overflow: hidden;
}

/* Fenetre connexion .......................................... */
.formulaire{
  border-radius: 5px;
  margin: 5px auto 23px auto;
  padding: 25px 5px;
  width: 35%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  row-gap: 15px;
}
.formulaire div label {
  font-family: Arial, Helvetica, sans-serif;
  background-color: rgba(105, 105, 105, 0.2);
  font-size: 0.8rem;
  font-weight: 700;
  text-align: center;
  display: inline-block;
  width: 30%;
  border: 1px dotted rgba(105, 105, 105, 0.2);
  border-radius: 5px;
  padding: 5px 5px;
}
.formulaire div input {
  width: 68%;
  border: 1px dotted rgba(105, 105, 105, 0.8);
  border-radius: 5px;
  padding: 5px 5px;
}
#button {
  width: 100%;
  padding: 5px;
  margin-top: 5px;
  background-color: rgba(105, 105, 105, 0.2);
  border: 1px dotted rgba(105, 105, 105, 0.2);
  border-radius: 5px;
  font-weight: 700;
  cursor: pointer;
}
hr {
  border: 1px dotted rgba(105, 105, 105, 0.2);
  width: 75%;
  margin: auto;
}
#compteCreation {
  color:rgba(105, 105, 105, 0.8);
  text-decoration: underline;
  font-size: 1rem;
  font-weight: bold;
  cursor: pointer;
}

/* Fin Fenetre connexion .......................................... */


.bibliothequeMenu {
  width: 25%;
  height: 500px;
  padding: 10px 5px 5px;
  border: 1px dotted rgba(105, 105, 105, 0.7);
  border-radius: 10px;
  overflow: hidden;
}
.bibliothequeMenu .inBibliothequeMenu {
  width: 100%;
  height: 475px;
  padding: 5px;
  overflow: auto;
}
.bibliothequeMenu h3 {
  height: 35px;
  text-align: center;
  line-height: 35px;
  background-color: rgba(105, 105, 105, 0.2);
  color: rgb(0, 0, 0, 0.6);
  font-family: lato;
  border-radius: 3px;
  margin-bottom: 15px;
  width: 100%;
}
.titre1 {
  height: 55px;
  text-align: center;
  line-height: 55px;
  background-color: rgba(105, 105, 105, 0.2);
  color: rgb(0, 0, 0, 0.6);
  font-family: lato;
  border-radius: 5px;
  margin-bottom: 5px;
  width: 45%;
}
.arrows {
  margin: 15px 0;
  outline: none;
}

.carousel {
  width: 900%;
  margin-top: 10px;
}
.ingSeries {
  width: 100%;
  padding: 15px;
}
.carousel div {
  display: inline-block;
  text-align: center;
  width: 11.11%;
}
.ingSeries div {
  text-align: center;
  width: 100%;
}

.carousel img {
  border: 1px dotted rgba(150, 150, 150, 0.6);
  padding: 10px;
}
.ingSeries img {
  border: 1px dotted rgba(150, 150, 150, 0.6);
  padding: 10px;
}
#back_arrow,
#forward_arrow {
  cursor: pointer;
  font-size: 1.5rem;
  margin-left: 5px;
  opacity: 0.8;
}
.smcontainer {
  width: 100%;
  margin-top: 10px;
  border: 1px dotted rgba(95, 95, 95, 0.2);
}
.smcontainer h4 {
  margin: 10px 30px;
}
.socialMedia {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 30px;
}
.sm {
  width: 31.3%;
  text-align: center;
  padding: 15px 0px;
  border: 1px dotted rgba(95, 95, 95, 0.2);
}
.sm img {
  width: 50px;
  height: 50px;
  border-radius: 5px;
}
.newsletter {
  width: 100%;
  border: 1px dotted rgba(95, 95, 95, 0.2);
  margin: 10px 0px;
}
.basDePage {
  width: 90%;
  height: 125px;
  margin: 5px auto 175px auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 1px dotted rgba(105, 105, 105, 0.7);
  border-radius: 10px;
}
footer {
  width: 100%;
  height: 50px;
  margin: 50px 0px auto;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: black;
}

footer p {
  color: #fff;
  text-align: center;
  font-size: 12px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
}

/* Page Expert CV */
.expertTable {
  width: 90%;
  margin: auto;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  column-gap: 1rem;
  row-gap: 1rem;
}
.expertTable div {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

/* Page Ing Series */
.ingSeriesTable {
  width: 90%;
  margin: auto;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  column-gap: 1rem;
  row-gap: 2rem;
}
.ingSeriesPresentation {
  grid-area: 1/3 / 1 / span 2;
  background-color: rgba(84, 26, 219, 0.5);
  padding: 10px;
  border: 2px solid rgb(245, 242, 242);
  border-radius: 8px;
  position: relative;
}
.ingSeriesPresentation p {
  position: absolute;
  border: 2px solid rgb(255, 254, 254);
  width: 80%;
  height: 24%;
  padding: 10px;
  border-radius: 10px;
  top: 38%;
  left: 10%;
  text-align: center;
  color: #fff;
  font-weight: 900;
}
.separation {
  margin: 15px 0px;
  opacity: 0.5;
}
.scroll {
  overflow-y: scroll;
  height: 525px;
  padding: 15px;
  margin-top: 15px;
}
.scrollP {
  overflow-y: scroll;
  height: 525px;
  padding: 15px;
  margin-top: 15px;
}
.ingSeriesheader {
  color: rgba(43, 39, 39, 0.4);
  border: 1px dotted rgba(43, 39, 39, 0.4);
  border-radius: 10px;
  margin-top: 25px;
  text-align: center;
}
.ingSeriesSubHeader {
  display: inline-block;
  color: rgba(43, 39, 39, 0.4);
  margin-top: 5px;
  text-decoration: underline;
}
.problematiquesList {
  font-size: 0.8rem;
  list-style: none;
}
.problematiquesList li {
  margin-top: 15px;
  padding: 5px;
  border: 1px dotted rgba(0, 0, 0, 0.7);
  border-radius: 10px;
}
/* #imgbatiment {
  opacity: 0.3;
} */
#fluidea, #sublime, #atlanticbureau, #cabinetpas, #inidev, #ingmedia, #inghvac, #ingprotect, #sngprotect, #imgbatiment, #ingfacilitiesmanagement {
  cursor: pointer;
}
.modalContainer {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  visibility: hidden;
  opacity: 0;
  transition: visibility 0.7s, opacity 0.7s;
}
.modalContainer2 {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  visibility: hidden;
  opacity: 0;
  transition: visibility 0.7s, opacity 0.7s;
}
.modalContainer3 {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  visibility: hidden;
  opacity: 0;
  transition: visibility 0.7s, opacity 0.7s;
}
.modalContainer4 {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  visibility: hidden;
  opacity: 0;
  transition: visibility 0.7s, opacity 0.7s;
}
.modalContainer5 {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  visibility: hidden;
  opacity: 0;
  transition: visibility 0.7s, opacity 0.7s;
}
.modalContainer6 {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  visibility: hidden;
  opacity: 0;
  transition: visibility 0.7s, opacity 0.7s;
}
.modalContainer7 {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  visibility: hidden;
  opacity: 0;
  transition: visibility 0.7s, opacity 0.7s;
}
.modalActive {
  visibility: visible;
  opacity: 1;
}
.modal {
  position: relative;
  padding: 15px;
  width: 50%;
  height: fit-content;
  background-color: #eee;
  border: 1px solid #eee;
  border-radius: 10px;
}
.modal2 {
  position: relative;
  padding: 15px;
  width: 50%;
  height: fit-content;
  background-color: #eee;
  border: 1px solid #eee;
  border-radius: 10px;
}
.modal3 {
  position: relative;
  padding: 15px;
  width: 50%;
  height: fit-content;
  background-color: #eee;
  border: 1px solid #eee;
  border-radius: 10px;
}
.modal4 {
  position: relative;
  padding: 15px;
  width: 50%;
  height: fit-content;
  background-color: #eee;
  border: 1px solid #eee;
  border-radius: 10px;
}
.modal5 {
  position: relative;
  padding: 15px;
  width: 50%;
  height: fit-content;
  background-color: #eee;
  border: 1px solid #eee;
  border-radius: 10px;
}
.modal6 {
  position: relative;
  padding: 15px;
  width: 50%;
  height: fit-content;
  background-color: #eee;
  border: 1px solid #eee;
  border-radius: 10px;
}
.modal7 {
  position: relative;
  padding: 15px;
  width: 50%;
  height: fit-content;
  background-color: #eee;
  border: 1px solid #eee;
  border-radius: 10px;
}
.modal ul {
  list-style-type: none;
  margin-left: 25px;
}
.modal2 ul {
  list-style-type: none;
  margin-left: 25px;
}
.modal3 ul {
  list-style-type: none;
  margin-left: 25px;
}
.modal4 ul {
  list-style-type: none;
  margin-left: 25px;
}
.modal5 ul {
  list-style-type: none;
  margin-left: 25px;
}
.modal6 ul {
  list-style-type: none;
  margin-left: 25px;
}
.modal7 ul {
  list-style-type: none;
  margin-left: 25px;
}
.modalScroll {
  overflow-y: scroll;
  height: 375px;
  margin-top: 25px;
}
.modalScroll2 {
  overflow-y: scroll;
  height: 375px;
  margin-top: 25px;
}
.modalScroll3 {
  overflow-y: scroll;
  height: 375px;
  margin-top: 25px;
}
.modalScroll4 {
  overflow-y: scroll;
  height: 375px;
  margin-top: 25px;
}
.modalScroll5 {
  overflow-y: scroll;
  height: 375px;
  margin-top: 25px;
}
.modalScroll6 {
  overflow-y: scroll;
  height: 375px;
  margin-top: 25px;
}
.modalScroll7 {
  overflow-y: scroll;
  height: 375px;
  margin-top: 25px;
}
.closeModal {
  position: absolute;
  top: 5px;
  right: 15px;
  font-size: 2rem;
  font-weight: bolder;
  cursor: pointer;
  color: #eee;
  background-color: #000;
  padding: 0px 5px;
  border-radius: 30px;
}
.closeModal2 {
  position: absolute;
  top: 5px;
  right: 15px;
  font-size: 2rem;
  font-weight: bolder;
  cursor: pointer;
  color: #eee;
  background-color: #000;
  padding: 0px 5px;
  border-radius: 30px;
}
.closeModal3 {
  position: absolute;
  top: 5px;
  right: 15px;
  font-size: 2rem;
  font-weight: bolder;
  cursor: pointer;
  color: #eee;
  background-color: #000;
  padding: 0px 5px;
  border-radius: 30px;
}
.closeModal4 {
  position: absolute;
  top: 5px;
  right: 15px;
  font-size: 2rem;
  font-weight: bolder;
  cursor: pointer;
  color: #eee;
  background-color: #000;
  padding: 0px 5px;
  border-radius: 30px;
}
.closeModal5 {
  position: absolute;
  top: 5px;
  right: 15px;
  font-size: 2rem;
  font-weight: bolder;
  cursor: pointer;
  color: #eee;
  background-color: #000;
  padding: 0px 5px;
  border-radius: 30px;
}
.closeModal6 {
  position: absolute;
  top: 5px;
  right: 15px;
  font-size: 2rem;
  font-weight: bolder;
  cursor: pointer;
  color: #eee;
  background-color: #000;
  padding: 0px 5px;
  border-radius: 30px;
}
.closeModal7 {
  position: absolute;
  top: 5px;
  right: 15px;
  font-size: 2rem;
  font-weight: bolder;
  cursor: pointer;
  color: #eee;
  background-color: #000;
  padding: 0px 5px;
  border-radius: 30px;
}

/*  MEDIA QUERIES ********************/

@media (max-width: 1024px) {

  .choix_container {
    height:80vh;
  }

  .choix_version {
    height:50vh;
    flex-direction: column;
    width:100%;
    margin-top: 20px;
    margin-bottom: 30px;
  }

  .choix_version_colored {
    border-bottom: 1px dotted gray;
    border-right: none;
    height:50%;
    width:75%;
  }

  .inscription_div {
    width:90%;
    height:55px;
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
    margin-bottom: 20px;
  }
  

  .inscription_container {
    padding-top: 20px;
    padding-bottom: 20px;
  }

  .formulaire{
    width: 90%;
  }

  .titre1 {
    width: 90%;
  }
  
  .inscription_formulaire{
    width: 80%;
    padding: 0px;
  }
  /* Page Expert CV */
  .expertTable {
    margin-top: 25px;
    grid-template-columns: repeat(3, 1fr);
  }
  .expertTable div img {
    width: 100%;
  }
  /* Page Ing Series */
  .ingSeriesTable {
    margin-top: 25px;
    grid-template-columns: repeat(3, 1fr);
  }
  .ingSeriesTable div img {
    width: 100%;
  }
  .ingSeriesPresentation {
    grid-area: 1/2 / 1 / span 2;
  }
  .ingSeriesPresentation p {
    height: 58%;
    top: 22% ;
    font-size: 1em;
  }
  header {
    margin-bottom: 5px;
  }
  .barreVide_connexion {
    height: 25px;
  }
  .barreVide {
    height: 5px;
  }
  header h1 {
    padding-left: 50px;
  }
  header ul {
    display: none;
  }
  .loader {
    padding-right: 15px;
  }

  .initial {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    font-size: 1.5rem;
    padding-right: 50px;
    width: 75%;
  }

 #menu_open {
    padding-right: 20px;
  }

  .topBibliothequeMenu {
    max-height: fit-content;
  }
  .bibliothequeMenu {
    display: none;
  }
  .bibliotheque {
    border-radius: 0px;
  }
  .ente_mobile {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .ente_mobile h2 {
    width: 50%;
    height: 55px;
    line-height: 55px;
    text-align: center;
    font-weight: 2rem;
    color: rgba(139, 43, 43, 0.5);
    border: 1px dotted rgba(153, 152, 152, 0.2);
    margin-top: 5px;
  }
  .ente_mobile div {
    width: 50%;
    border-radius: 5px;
    background-color: rgba(192, 191, 191, 0.2);
  }
  .entete {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  .entete .enteteDiv {
    width: 100%;
    display: flex;
    flex-direction: column;
  }
  .entete div img {
    width: 100%;
  }
  .entete div {
    width: 100%;
  }
  .entete div h4 {
    order: -1;
    margin-bottom: 10px;
    height: 55px;
    color: #000;
    background-color: rgba(153, 152, 152, 0.2);
  }
  .autresNews {
    width: 100%;
    flex-direction: column;
  }
  .autresNews div {
    width: 100%;
  }
  .lien {
    margin-bottom: 0;
    margin-top: 0;
  }
  .bibliotheque,
  .bibliothequeMenu {
    width: 100%;
  }
  .bibliothequeMenu {
    height: 170px;
    order: -1;
  }
  .bibliothequeMenu .inBibliothequeMenu {
    height: 150px;
  }
  .container {
    width: 100%;
    padding: 0;
  }
  article img {
    display: block;
    width: 100%;
  }
  .basDePage {
    width: 100%;
    height: 60px;
    margin: 40px auto 5px auto;
    border: 1px dotted rgba(105, 105, 105, 0.7);
    border-radius: 0px;
    text-align: center;
    font-size: 11px;
  }
  .bibliotheque {
    height: 85vh;
  }
  #mainFrame {
    height: 80vh;
  }
  .modal {
    position: relative;
    padding: 15px;
    width: 80%;
    height: 55vh;
    background-color: #eee;
    border: 1px solid #eee;
    border-radius: 10px;
    text-align: center;
  }
  .modal2 {
    position: relative;
    padding: 15px;
    width: 80%;
    height: 55vh;
    background-color: #eee;
    border: 1px solid #eee;
    border-radius: 10px;
    text-align: center;
  }
  .modal3 {
    position: relative;
    padding: 15px;
    width: 80%;
    height: 55vh;
    background-color: #eee;
    border: 1px solid #eee;
    border-radius: 10px;
    text-align: center;
  }
  .modal4 {
    position: relative;
    padding: 15px;
    width: 80%;
    height: 55vh;
    background-color: #eee;
    border: 1px solid #eee;
    border-radius: 10px;
    text-align: center;
  }
  .modal5 {
    position: relative;
    padding: 15px;
    width: 80%;
    height: 55vh;
    background-color: #eee;
    border: 1px solid #eee;
    border-radius: 10px;
    text-align: center;
  }
  .modal6 {
    position: relative;
    padding: 15px;
    width: 80%;
    height: 55vh;
    background-color: #eee;
    border: 1px solid #eee;
    border-radius: 10px;
    text-align: center;
  }
  .modal7 {
    position: relative;
    padding: 15px;
    width: 80%;
    height: 55vh;
    background-color: #eee;
    border: 1px solid #eee;
    border-radius: 10px;
    text-align: center;
  }
  .modal h2 {
    font-size: 1rem;
  }
  .modal2 h2 {
    font-size: 1rem;
  }
  .modal3 h2 {
    font-size: 1rem;
  }
  .modal4 h2 {
    font-size: 1rem;
  }
  .modal5 h2 {
    font-size: 1rem;
  }
  .modal6 h2 {
    font-size: 1rem;
  }
  .modal7 h2 {
    font-size: 1rem;
  }
  
@media (max-width: 500px) {
  header h1 {
    padding-left: 20px;
  }
  footer {
    max-height: 35px;
  }
  footer p {
    font-size: 12px;
    font-family: Arial, Helvetica, sans-serif;
  }
  /* Page Expert CV */
  .expertTable {
    grid-template-columns: repeat(1, 1fr);
  }
  #khalid_jadi {
    height: 400px;
  }

  .ingSeriesTable {
    grid-template-columns: repeat(2, 1fr);
  }
  /* Page Ing Series*/
  .ingSeriesPresentation {
    grid-area: 1/1 / 1 / span 2;
    height: 200px;
  }
  .ingSeriesPresentation p {
    height: 58%;
    top: 22% ;
    font-size: 1em;
  }
  .scroll {
    overflow-y: scroll;
    height: 350px;
    padding: 5px;
    margin-top: 5px;
  }
  .scrollP {
    overflow-y: scroll;
    height: 350px;
    padding: 15px;
    margin-top: 15px;
  }
  .modal {
    height: 98vh;
  }
  .modal2 {
    height: 80vh;
  }
  .modal3 {
    height: 80vh;
  }
  .modal4 {
    height: 80vh;
  }
  .modal5 {
    height: 80vh;
  }
  .modal6 {
    height: 80vh;
  }
  .modal7 {
    height: 80vh;
  }
}
}